@use '@/styles/variables.scss' as *;

:global(.nut-empty) {
  padding: 120rpx 0;
}

:global(.nut-empty-image) {
  opacity: 0.6;
}

:global(.nut-empty-title) {
  color: $color-text-primary;
}

:global(.nut-empty-description) {
  color: $color-text-tertiary;
}
